{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 4],
    "import/prefer-default-export": false,
    "function-paren-newline": ["error", "consistent"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": false,
    "react/no-array-index-key": false,
    "react/jsx-indent": ["error", 4]
  }
}
